<html>

<head>
  <title>
    Blogs
  </title>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css" />
</head>

<body>
  <header class="container" hx-get="/navbar" hx-trigger="load">
  </header>
  <main class="container">
    <h1> Blogs </h1>
    <table>
      <thead>
        <tr>
          <th> Title </th>
          <th> Author </th>
          <th> Publication Date </th>
          <th> Status </th>
          <th> Tags </th>
          <th> Actions </th>
        </tr>
      </thead>
      <tbody hx-get="/api/post" hx-trigger="load">
      </tbody>
    </table>
  </main>
</body>
<style>
  button[name="actions"] \{ display: none;
  }
</style>

</html>